.fix {
  margin-top: 600px;
  width:100px;
  width: 100%;
  margin-left: 30%
  margin-right: 10%;
  background-color: rgba(255,255,255,0.5);
}

.quotebox {
  min-height: 100px;
  height: 100px;
  overflow: auto;
}

.shadow {
  box-shadow: 1px 1px 1px #555555
}
