extends layout

block content
  img.img-rounded(src="/img/banner2.png")
  hr
  br
  h3 Welcome to my Webspace
  p.lead Thoughts about stuff and things. Links to my projects and whatnot
  p.lead Right now there is nothing
  div.push3
  img(src="/img/go.png")
