html(lang="en")
  head
    meta(charset="utf-8")
    title Benjamin DeCoste
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    |<style>
    |  html,
    |  body {
    |    height: 100%;
    |  }
    |  .mono { 
    |    font-family: monospace;
    |  }
    |  .container-narrow {
    |    margin: 0 auto -160px;
    |    max-width: 700px;
    |  }
    |  #wrap {
    |    min-height:100%;
    |    height: auto !important
    |    height: 100%;
    |    margin: 0 auto -60px;
    |  }
    |  #push,
    |  #footer {
    |    height: 160px;
    |  }
    |  #footer {
    |    background-color: #f5f5f5;
    |  }
    |
    |  @media (max-width: 767px) {
    |     #footer {
    |        margin-left: -20px;
    |        margin-right: -20px;
    |        padding-left: 20px;
    |        padding-right: 20px;
    |      }
    |  }
    |  .container {
    |    width: auto;
    |    max-width: 600px;
    |    padding-right: 180px;
    |    text-align: right;
    |  }
    |  .container .credit {
    |    margin: 20px 0;
    |    padding-right: 200px;
    |  }
    |</style>
  body
    div#wrap
      div.container-narrow
        div.masthead
          ul.na.nav-pills.pull-right
            a(href="#")
              l.icon-home
            |&nbsp;
            |&nbsp;
            a(href="#")
              l.icon-hdd
            |&nbsp;
            |&nbsp;
            a(href="#")
              l.icon-share-alt
        h3.muted.mono Benjamin DeCoste (bendeco)
        hr
        div#push
      div.container-narrow
        block content
    div#footer
      div.container.pull-right
        h3.muted.credit
          a(href="https://github.com/bendeco") Github
          br
          a(href="/winnie") Winnie Quotes
          br
          a(href="/blog") Blog
